body{
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
}

body *{
    font-family: Arial;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper > h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.projects{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 30px;
}

.project{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;

}

.project h2{
    font-size: 1.2em;
}

.project .creator{
    padding: 10px;
    background: #00dba2;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.project-detail .project{
    padding: 0;
}

.project-detail .project h2{
    text-align: center;
    margin: 20px auto
    font-size: 2em;
}

.site-form{
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px
}

.site-form input, .site-form textarea{
    display:block;
    margin: 20px 0 0 0;
    padding:10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color:#00dba0;

}

.helptext, .helptext ul{
    margin:0 20px;
    color: #bbb;
    font-size: 0.9em;
    display:block;
}

.errorlist li{
    padding:10px;
    list-style-type:none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 1px;

}

.errorlist{
    padding:0;
}

.site-form input[type="submit"]{
    background:#00dba0;
    border:0;
    color:#fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin:10px 0;

}

.project-initial li{
    display:inline-block;
    list-style-type:circle;
    margin:50px;
}

.project-initial a{
  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color:#00dba0;
}

.project-processing a.highlight{
    color:aqua;
}

.project-processing h3{
    margin-top:30px;
}

.project-training pre{
    font-size:25px;
    font-family:monospace;
    color:teal;


}

.project-training .continue{
    margin-top:30px;
}

.project-training h3{
    margin-top:10px;
}

.project-error h3{
    padding-bottom:30px;
}
.project-error a{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color:#00dba0;
    margin-left:50px;
}

.project-error h2{
    color:red;
    padding-bottom:30px;
}

.project-error li{
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;
}

body{
    width: 100%;

    overflow-x: hidden;
}

.spinner{
    width: 80px;
    height: 80px;

    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }

.hint pre{
  font-size:25px;

}

.hint{
  margin-top:20px;
  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color:#00dba0;
}

.comment-highlight{
  margin-top:35px;
}

.comment-highlight a{


  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color:#00dba0;
}

.predict-form{
  margin-top:30px;
}


.project-comment textarea{
  margin-top:30px;
  width:270px;
  height:180px;
}
