{% extends 'base_layout.html' %}

{% block content %}
    <div class="project-predict">
        <h2>The Result of Prediction</h2>
        <h3>{{ project.title }}</h3>
        <div class="hint">
        <h3><font color="#FF6347">Hint:</font></h3>
        <p>Please input the elements of the unlabeld data that you going to predict.
          Please notice that wrong format of data file will lead to failed prediction.
        </p>
        </div>



        <div class="predict-form">

        <form action="{% url 'projects:classification_predict' project.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for i in "x"|ljust:project.attribute_num %}
          <input type="text" name="unlabeled{{ forloop.counter0 }}">
          {% endfor %}
          <input type="submit" value="Predict">
        </form>
      </div>




    </div>
{% endblock %}
