{% extends 'base_layout.html' %}

{% block content %}
    <div class="create-project">
        <h2>Create an Awesome New Regression Project</h2>
        <div class="hint">
        <h3><font color="#FF6347">Hint:</font></h3>
        <p>Please upload .txt file as labeled data file. Each data should be sperated by Enter("\n"), each element of data should be seperated by Tab("\t").
          Please notice that wrong format of data file will lead to failed prediction.
        </p>
        </div>
        <form class="site-form" action="{% url 'projects:regression_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}
